# fly.toml app configuration file generated for paperbagglue-chat-v1 on 2026-02-18T15:19:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'paperbagglue-chat-v1'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    interval = "20s"
    timeout = "15s"
    grace_period = "60s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 2048
